<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     
     
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Reason</td>
                <td><textarea name="reason"></textarea></td>
            </tr>
             </tr>
                <td> </td>
                <td><input type="submit"  id=""></td>
            </tr>


        </table>
        {{ message }}
    </form>
</body>
</html>