{% extends 'job_admin/admin_master.html' %}

{% block admin_content %}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
        <table  class="table table-hover table-primary">
    <thead>
        <tr class="text-center">
            <th>SL No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Added By</th>
            <th>Current Assignee</th>
            <th>Rejected Reason</th>
            <th>Select Staff</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <form method ='POST'>
            {% csrf_token %}
        <tr class="text-center">
            <td>{{forloop.counter}}</td>
            <td>{{ job.job.title }}</td>
            <td>{{ job.job.description }}</td>
            <td>{{ job.job.added_by.admin_name | title }}</td>
            <td>{{ job.assigned_to.emp_name}}</td>
            <td>{{ job.reason}}</td>
            <td>
                <select name="staff_assigned" class="form-control" id="">
                    <option value="" disabled selected>Select Staff</option>
                    {% for staff in staffs %}
                        <option value="{{staff.id}}">{{ staff.emp_name | title }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="submit" name="" class="btn btn-success" value="Re Assign" id=""></td>
            <td><input type="text" name="job_id" value="{{job.job.id}}" id=""></td>
            <td><input type="text" name="assign_id" value="{{job.id}}" id=""></td>

        </tr>
         
    </form>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}